*{
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, serif;
    color: rgb(63, 58, 58);
}

body{
    width: 70%;
    margin-left: 15%;
}

/* Navigation bar styling*/

.nav-bar{
    position: relative;
    background-color: aqua;
    height: 40px;
}

.nav-items{
    padding: 10px;

}


.nav-items li{
    display: inline;
    padding: 20px;
    padding-top: 20px;
    
}

.nav-items li a{
    text-decoration: none;
    color: black;
}

/* section 1 styling*/

.section-1{
    background-image: url('./assets/backgrounds/landing.jpg');
    background-repeat: no-repeat;
    width: 100%;
    margin-bottom: 300px;
    clear: both;
}

.big-image{
    text-align: center;
    margin-top: 10px;
    padding-top: 120px;
}

.center{
    font-size: 40px;
}


.text-one{
    padding-top: 30px;
    color: #ffffff;
    opacity: 0.7;
}

.text-two{
    padding-bottom: 80px;
    color: #ffffff;
}

.two-divs{
    float: left;
}

.div-one{
    background-color: rgb(241, 241, 241);
    font-size: 30px;
    height: 105px;
    width: 307px;
}

.div-one p{ 
    padding-top: 40px;
}

.div-two{
    background-color: #F15A29;
    font-size: 30px;
    height: 105px;
    width: 307px;
    clear: both;
}

.div-two p{ 
    padding-top: 40px;
    color: #ffffff;
}

.meal-type{
    display: flex;
    flex-direction: row;
}

.three-divs{
    float: right;
    height: 800px;
    width: 100%;
}

.section-2{
    clear: both;
    margin-top: 10px;
}

.foods{
    margin-top: 20px;
}

.food-types img{
    display: flex;
    flex-direction: column;
}

.three-one{
    background-image: url('./assets/foodtop/breakfast.jpg');
    background-repeat: no-repeat;
    height: 220px;
    width: 342px;
}

.three-two{
    background-image: url('./assets/foodtop/lunch.jpg');
    background-repeat: no-repeat;
    height: 220px;
    width: 342px;
}

.three-three{
    background-image: url('./assets/foodtop/dinner.jpg');
    background-repeat: no-repeat;
    height: 220px;
    width: 342px;
}

.three-divs p{
    padding-top: 100px;
    font-size: 30px;
    font-style: italic;
    color: #ffffff;
}

/* Section 2 */

.section-2{
    margin-bottom: 300px;
}

.food-types{
    display: flex;
    clear: both;
}

.food-types-images{
    float: right;
}


.foods{
    clear: both;
}

.food-types-images{
    margin-left: 120px;
    border: 20px solid white;
    box-shadow: 0 0 10px #ccc;
}

.food-type-one{
    margin-left: 80px;
    margin-right: 100px;
}

.side-text h2{
    padding: 20px;
    font-size: 50px;
}

.side-text p{
    padding: 20px;
}

.side-text button{
    margin-left: 20px;
}

.food-types-vertical{
    margin-top: 80px;
    margin-right: 140px;
}

.food-type-two{
    margin-left: 120px;
    margin-right: 100px;
}

.food-type-two p{
    text-align: right;
}

.food-type-two button{
    float: right;
}

.food-type-two h2{
    text-align: right;
}

.side-text h3{
    color: rgb(63, 58, 58);
}

.food-type-one h3{
    margin-left: 20px;
}

.food-type-two h3{
    text-align: right;
}

.gallery-button{
    background-color: #ffffff;
    padding: 10px 20px;
    border: 1px solid #F15A29;
    border-radius: 4px;
    color: #F15A29;
    font-size: 20px;
}

.gallery-button:hover{
    background-color: #F15A29;
    color: #ffffff;
    border: 1px solid #ffffff;
}





